{% extends 'calculator/base.html' %}
{% block content %}
<h1>Калькулятор</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Вычислить</button>
</form>

{% if result is not None %}
  <p><strong>Результат: {{ result }}</strong></p>
{% endif %}

{% if form.errors %}
  <div class="error">
    {% for field in form %}
      {% for error in field.errors %}
        <p>{{ error }}</p>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
